<div class="container" style="text-align: center;">
  <form id="data">
    <h3>Dados CEP</h3>

    <fieldset>
      <h4>Endereço 1</h4>
      <p>{{publicPlace1}} {{complement1}} {{district1}}, {{city1}}, {{state1}}</p>
    </fieldset>

    <fieldset>
      <h4>Endereço 2</h4>
      <p>{{publicPlace2}} {{complement2}} {{district2}}, {{city2}}, {{state2}}</p>
    </fieldset>

    <fieldset>
      <h4>Endereço 3</h4>
      <p>{{publicPlace3}} {{complement3}} {{district3}}, {{city3}}, {{state3}}</p>
    </fieldset>

    <fieldset>
      <h4>Endereço 4</h4>
      <p>{{publicPlace4}} {{complement4}} {{district4}}, {{city4}}, {{state4}}</p>
    </fieldset>

    <fieldset>
      <h4>Endereço 5</h4>
      <p>{{publicPlace5}} {{complement5}} {{district5}}, {{city5}}, {{state5}}</p>
    </fieldset>


  </form>
</div>